<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row row-eq-height">
        <div class="card-group">
            {% for news in object_list %}
            <div class="col-md-3 ">
                <img class="card-img-top" src="{{ news.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ news.date }}</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
